<div>
	<div>
	
	<div class="field">
      <%= 'Pregunta Contenido: ' %>
      <%= content_tag :span, content_question.question %>
    </div> 
      
    <% content_question.content_choices.sort_by{|e| e[:created_at]}.each do |choice| %>  
     <div class="radio">
          <label>
            <input name="optionsRadios" id="optionsRadios1" value="option1" checked="" type="radio">
            <%= choice.text %>
          </label>
    </div>   
    <% end %>
</div>