<div class='nested-fields'>
	<div class="input-group">
		 <%= f.text_area :question, :rows => 3, :class=>"form-control" %>
	</div>
	<br>
	<%= f.fields_for :content_choices do |builder| %>
	  <%= render 'content_choice_fields', :f => builder %>
	<% end %>
	<br>	
	<div class='nested-fields'>
		<%= link_to_add_association 'add choice', f, :content_choices, :class => "btn btn-small btn-primary" %>
	</div>
</div>
