<div class='nested-fields'>
		<div class="input-group">
			<span class="input-group-addon" id="check">
				<%= f.check_box :right, :class => 'inline'%>
			</span>
			<%= f.text_field :text, :class => "form-control" %>
			<div class="input-group-btn">
   				<%= link_to_remove_association '<span class="glyphicon glyphicon-remove-sign red"></span>'.html_safe, f, :class => "btn" %>
  			</div>			
		</div>
	<br>
</div>



