<div class='nested-fields'>
	<div class="input-group">
		 <%= f.text_area :question, :rows => 3, :class=>"form-control" %>
	</div>
	<br>

	<%= f.fields_for :content_choices do |builder| %>
		<form class="form-inline">
		  <%= render 'content_choice_fields', :f => builder %>
		  <%= link_to_add_association '', f, :content_choices, :class => "glyphicon glyphicon-remove-sign" %>
		</form>
	<% end %>
	<br>
	
</div>
