<div style="text-align: center">
  <h1>Bienvenido a apoyo a la didáctica.</h1>
  <p></p>
  <br></br>
  <%= button_to 'Ingresar', new_user_session_path, class: "btn btn-primary", style:"height:75px; width:200px; font-size:30px" %>
  <% if user_signed_in? %>
    <% current_user.current_course_id = nil%>
    <% current_user.save%>
  <% end %>
</div>
