<div style="text-align: center">
  <h1>Bienvenido a la plataforma de Educación Didáctica</h1>
  <p></p>
  <%= button_to 'Ingresar', new_user_session_path, class: "btn btn-primary" %>

  <%$lista=false%>
</div>
