<% if @partner_answer.argumentar != nil %>
  <h3>Argumentación</h3>
  <%= simple_format(@partner_answer.argumentar, {style:"font-size:15px; line-height:1.5", align:"justify"})%>
  <% if @partner_answer.image_argumentar? %>
    <button data-toggle="modal" data-target=".bs-argumentar-modal-lg">
      <%= image_tag @partner_answer.image_argumentar.url(:medium), style: "height: 100px; width: 100px" %>
    </button>

    <div class="modal fade bs-argumentar-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <p><%= image_tag @partner_answer.image_argumentar.url(:medium) %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
