<div style="text-align: center">
	<h1><%= @homework.name %></h1>

	<%= render 'form' %>
	<div class="row">
		<div class="span4">
	    	<div class="spacer10"></div>
		</div> 
	</div>
	<div style="text-align: center">
		<%= link_to 'Volver', homework_questions_path(@homework) %>
		<div class="row">
			<div class="span5">
	    		<div class="spacer10"></div>
			</div> 
		</div>
	</div>
</div>
