<div style="text-align: left">
	<% if @homework.upload %>
		<h3><%= @homework.content %></h3>
		<% if @homework.image? %>
			<p><%= image_tag @homework.image.url(:medium) %></p>
		<% end %>
		<%= render 'form' %>
	<%end%>
</div>
