<div style="text-align: center">
	<h3><%= @question.content %></h3>
	<%= render 'form' %>
	<div class="row">
			<div class="span5">
	    		<div class="spacer10"></div>
			</div> 
		</div>

	<div style="text-align: center">
		<%= link_to 'Volver', homework_questions_path(@homework) %>
		<div class="row">
			<div class="span5">
	    		<div class="spacer10"></div>
			</div> 
		</div>
	</div>
</div>
