<div style="text-align: left">
	<% if @homework.upload %>
		<div class="thumbnail">
			<%= render 'part0_pregunta' %>
		</div>
		<div class="thumbnail">
			<%= render 'form' %>
		</div>
	<%end%>
</div>
