

<html>
<script type="text/JavaScript">
<!--
function timedRefresh(timeoutPeriod) {
    setTimeout("location.reload(true);",timeoutPeriod);
}
//   -->
</script>
<body onload="JavaScript:timedRefresh(30000);">
  <br></br>
  <br></br>
  <br></br>
  <table class="table table-striped" id="students_list">
    <thead>
      <tr>
        <th>Apellido</th>
        <th>Nombre</th>
        <th>Respuesta</th>
      </tr>
    </thead>
    <tbody>
      <% @users.sort_by{|e| e[:last_name]}.each do |user| %>
        <% if user.role == "alumno"%>
        <tr>
          <td><%= user.last_name%></td>
          <td><%= user.first_name%></td>
          <td><%= link_to 'Ver Respuesta', studentanswer_path(homework_id:@homework.id, user_id:user.id), {:class => "btn btn-xs btn-primary"} %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</body>
</html>
