<%= form_tag controller:"courses", action:"agregate", method:"post" do %>


  <%= fields_for 'new_code_course', @courses do |p| %>

        <div class="form-group">
          <label for="code" class="col-sm-9 control-label">Código</label>
          <div class="col-sm-offset-4">
            <div class="col-xs-6">
              <%= p.text_field :course_code, class:"form-control", placeholder: 'Ingrese el código del curso' %>
              <br>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="span4">
              <div class="spacer10"></div>
          </div>
        </div>
        <br></br>

        <div class="actions" style="text-align: center">
          <%= submit_tag "Agregar Curso", :class=>"btn btn-primary"%>
        </div>
    </form>
  <% end %>
<% end %>
