<div style="text-align: center">
	<h1>Nuevo Curso</h1>

	<% if current_user.role? %>
		<%= render 'form1' %>
		<div class="row">
			<div class="span4">
		    	<div class="spacer10"></div>
			</div>
		</div>
	<% else %>
		<%= render 'form2' %>
		<div class="row">
			<div class="span4">
					<div class="spacer10"></div>
			</div>
		</div>
	<% end %>
</div>
