<%- if current_user.role?%>
  <h1>Mis Reportes</h1>
  <br></br>
    <%= link_to 'Generar nuevo reporte', new_course_report_path(@course), :class=>"btn btn-primary", :style=>'color:white' %>

  <br></br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Reporte</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @course.reports.sort_by{|e| e[:created_at]}.each do |report| %>
        <tr>
            <%# if tree.content.text.length > 30%>
              <td>Reporte1</td>
            <%# else %>
              <td><%#= tree.content.text%></td>
            <%# end -%>
            <td><%#= link_to 'Vista previa', [@course, tree, {:type =>'initial', :state => "no_saw"}], method: :post,class:"btn btn-primary btn-xs", style:'color:white'%></td>
            <td> <%= link_to 'Ver', course_report_path(@course, report), class:"btn btn-primary btn-xs", style:'color:white'%></td>
            <td><%#= link_to 'Eliminar', [@course, tree], method: :delete, data: { confirm: '¿Seguro que deseas eliminar el arbol?' },:class=>"btn btn-danger btn-xs", :style=>'color:white'%></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
