.head {
    background-color: #5E6066;
    color: white;
    font-weight: bold;
}

.avarage {
    background-color: #BDBDBD;
    color: white;
    font-weight: bold;
}

.content {
    background-color: #2AA9F2;
    color: white;
    font-weight: bold;
}

.content2 {
    background-color: #2AA9F2;
    color: white;
    font-weight: bold;
}

.tdcenter {
	font-weight: bold;
    text-align:center; 
    vertical-align:middle;
}

thcenter {
    font-weight: bold;
    text-align:center; 
    vertical-align:middle;
}