// Place all the styles related to the trees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input-group-addon:not(#check) {
    min-width: 120px;
    text-align:left;
    font-weight: bold;
}

.form-control {
	resize: none;
}